DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=casa_juventude
DB_USER=root
DB_PASS=

APP_ENV=local
APP_URL=http://localhost/casa-da-juventude-center/admin

# Usado apenas na primeira execução se não existir administrador
ADMIN_SEED_EMAIL=admin@casadajuventude.com
ADMIN_SEED_PASSWORD=Admin@2025
ADMIN_SEED_NAME=Administrador
